{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<link rel="stylesheet" href="../_sass/_base.scss">
<head>
  <link rel="icon" type="image/png" sizes="36x36" href="/images/android-chrome-36x36.png?v=M44lzPylqQ">
  <link rel="icon" type="image/png" sizes="48x48" href="/images/android-chrome-48x48.png?v=M44lzPylqQ">
  <link rel="icon" type="image/png" sizes="72x72" href="/images/android-chrome-72x72.png?v=M44lzPylqQ">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/android-chrome-96x96.png?v=M44lzPylqQ">
  <link rel="icon" type="image/png" sizes="144x144" href="/images/android-chrome-144x144.png?v=M44lzPylqQ">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png?v=M44lzPylqQ">
</head>


<meta http-equiv="cleartype" content="on">
